.signup_login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: var(--najtamnija);
    padding: 20px;
    border-radius: 5px;
    font-size: 1.2em;
}

#lokal_login {
    display: none;
}
#lokal_registar {
    display: none;
}


.signup_login button {
    background: var(--najtamnija);
    border: none
}

.signup_login button img {
    margin-top: 1rem;
    height: 40px;
}